*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

i{
    font-style: normal;
}

html{
    width: 100%;
    height: 100%;
    font-size: 100px;
}

body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}

@media (min-width: 320px) {
    html{
        font-size: 42.66667px;/*100px*320/750*/
    }
}
@media (min-width: 360px) {
    html{
        font-size: 48px;
    }
}
@media (min-width: 375px) {
    html{
        font-size: 50px;
    }
}
@media (min-width: 414px) {
    html{
        font-size: 55.2px;
    }
}
@font-face {
    font-family: 'iconfont';  /* project id 1030209 */
    src: url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.eot');
    src: url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.woff') format('woff'),
    url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1030209_4lhafnc5hj5.svg#iconfont') format('svg');
}