.box{
    width: 7.5rem;
    height: 13.34rem;
    background: red;
    margin: 0 auto;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.container{
    width: 6.60rem;
    height: 10.3rem;
    /*background: yellow;*/
    position: absolute;
    right: 0;
    top: 1.5rem;
}
p.icon{
    font-family: 'iconfont';
    font-size: 0.34rem;
}
p.capital{
    width: 1.54rem;
    height: 0.28rem;
    font-size: 0.40rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 10px;
    color: #030303;
    margin-top: 0.2rem;
}
p.chinese{
    width: 2.82rem;
    height: 0.24rem;
    font-family: PingFang-SC-Bold;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #030303;
    margin-top: 0.4rem;
}
p.eng{
    width: 3.5rem;
    height: 0.24rem;
    font-size: 0.24rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    color: #030303;
    margin-top: 0.3rem;
}

.login{
    width: 100%;
    height: 3.95rem;
    background-color: #ffffff;
    box-shadow: 0 3px 18px 0 rgba(192, 191, 191, 0.52);
    margin-top: 0.3rem;
    position: relative;
}
.login p.user{
    width: 1.20rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #adaaaa;
    position: absolute;
    left: 0.67rem;
    top:0.44rem;
}
input.one{
    border: none;
    position: absolute;
    left: 0.67rem;
    top:1rem;
}
p.password{
    width: 1.20rem;
    height: 0.24rem;
    font-size: 0.24rem;
    color: #adaaaa;
    position: absolute;
    left: 0.67rem;
    bottom:2rem;
}
input.two{
    border: none;
    position: absolute;
    left: 0.67rem;
    bottom:1.3rem;
}

.forget{
    width: 1.45rem;
    height: 0.26rem;
    position: absolute;
    left: 0.67rem;
    bottom:0.44rem;
}
.forget .mark{
    float: left;
    width: 0.26rem;
    height: 0.26rem;
    background-color: #fa0404;
    box-shadow: 0 3px 18px 0 rgba(254, 8, 8, 0.64);
    border-radius: 50%;
}
.forget p.forgetPassword{
    float: right;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #adaaaa;
}


.button{
    width: 100%;
    height: 0.94rem;
    background-color: #ffffff;
    box-shadow: 0 3px 18px 0 rgba(194, 189, 189, 0.64);
    margin-top: 0.6rem;
    text-align: center;
    line-height: 0.94rem;
    color: #adaaaa;
    font-size: 0.24rem;
}

p.welcome{
    width: 2.7rem;
    height: 0.18rem;
    font-size: 0.18rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #040404;
    margin-top: 0.3rem;
    margin-left: 2rem;
}

.last{
    width: 2.05rem;
    height: 0.69rem;
    /*background: red;*/
    margin-top: 0.4rem;
    margin-left: 2.2rem;
}
.last p.QQ{
     float: left;
     width: 0.69rem;
     height: 0.69rem;
     background-color: #ffffff;
     box-shadow: 0px 3px 18px 0px rgba(194, 189, 189, 0.64);
     font-family: iconfont;
     font-size: 0.5rem;
     text-align: center;
     line-height: 0.69rem;
     border-radius: 50%;
     color: blue;
 }
.last p.weixin{
    float: right;
    width: 0.69rem;
    height: 0.69rem;
    background-color: #ffffff;
    box-shadow: 0px 3px 18px 0px rgba(194, 189, 189, 0.64);
    font-family: iconfont;
    font-size: 0.5rem;
    text-align: center;
    line-height: 0.69rem;
    border-radius: 50%;
    color: #f33345;
}